[build]
publish = "dist"
functions = "netlify/functions"
command = "npx vite build"

[functions]
directory = "netlify/functions"

[dev]
targetPort = 5174

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/:splat"
status = 200
